[submodule "protocol"]
	path = protocol
	url = https://github.com/Kas-tle/Protocol.git
	branch = 3.0-proxypass
[submodule "network"]
	path = network
	url = https://github.com/Kas-tle/NetworkCompatible.git
	branch = master
