## Address proxy will bind to.
proxy:
  host: 127.0.0.1
  port: 19122
## Destination server which the client will connect to.
## You are only able to join offline mode servers
destination:
  host: 127.0.0.1
  port: 19132
## Run the proxy in online mode. This will require login with a Microsoft account on start.
online-mode: true
## Save credentials when in online mode for future logins.
save-auth-details: true
## Forces ProxyPass to use certificate chain auth as opposed to the new token auth
force-certificate-chain: false
## Maximum of clients which can connect to ProxyPass. If this should be disabled, set it to 0.
max-clients: 0
## Encode and decode packets to test protocol library for bugs
packet-testing: false
## Log packets for each session
log-packets: true
## Where to log packet data
## Valid options: console, file or both
log-to: file
## Enables the UI
enable-ui: false
## If ProxyPass should follow transfer packets.
follow-transfers: true
## If ProxyPass should download packs from the destination server.
## This will only download packs if the client has not downloaded them yet.
download-packs: true

## Inverts the list below
invert-ignored-list: false
## Packets to ignore to make your log more refined. These default packet are generally spammed
ignored-packets:
  - "NetworkStackLatencyPacket"
  - "LevelChunkPacket"
  - "MovePlayerPacket"
  - "PlayerAuthInputPacket"
  - "NetworkChunkPublisherUpdatePacket"
  - "ClientCacheBlobStatusPacket"
  - "ClientCacheMissResponsePacket"
